.useCasesContainer {
  margin: 100px 7% 100px 7%;
}

/* intro */
.introSection {
  background-color: var(--white-smoke);
  border-radius: 45px;
  margin-bottom: 100px;
  padding: 5%;
  padding-right: 0;
  display: flex;
}
.introImage {
  width: 50%;
}
.introImageMobile {
  display: none;
}
.introContent {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* feature section */
.featuredSuccessSectionMobile {
  display: none;
}
.featuredSuccessSection {
  margin-bottom: 100px;
  background-color: var(--dark);
  border-radius: 45px;
  padding: 5%;
  display: flex;
}
.featureSectionLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.featureSectionLeft h3,
.featureSectionLeft p {
  color: var(--white);
}
.featureSectionLeft h4 {
  color: var(--green);
  display: flex;
  align-items: center;
  gap: 10px;
}
.featureSectionRight {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0 0 0 5%;
  gap: 5%;
}
.featuredItem {
  background-color: var(--white);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.featuredItem p {
  text-align: center;
}
/* success stories */
.successStorySection {
  margin-bottom: 100px;
}
.successStorySection p {
  width: 510px;
}
.successStoriesList {
  border: 1px solid var(--black);
  border-radius: 45px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 1fr 1fr;
  padding: 5%;
  margin-top: 50px;
}
.successItem {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 10%;
}
.successItem h3,
.successItem p,
.successItem h4 {
  width: 100%;
}
.successItem h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.successItem:first-child,
.successItem:nth-child(3) {
  border: none;
  padding-top: 0;
}
.successItem:first-child {
  padding-left: 0;
}
.successItem:nth-child(2) {
  border-top: 0;
  padding-top: 0;
  border-bottom: none;
}
.successItem:nth-child(3) {
  padding-right: 0;
}
.successItem:nth-child(4),
.successItem:nth-child(6) {
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-bottom: 0;
}
.successItem:nth-child(4) {
  padding-left: 0;
}
.successItem:nth-child(5) {
  border-bottom: none;
  padding-bottom: 0;
}
.successItem:nth-child(6) {
  padding-right: 0;
}

/* testinmonial */
.testinmonialsSection {
  margin-bottom: 100px;
}
.testinmonialsSection p {
  width: 473px;
}
.homeTestimonialsCarousel {
  margin-top: 50px;
}

/* create success story */
.createSuccessStorySection {
  background-color: var(--green);
  border-radius: 45px;
  height: 300px;
  display: flex;
  align-items: center;
}
.createSuccessContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 50%;
  height: 90%;
  padding: 2.5% 5% 2.5% 5%;
}
.createSuccessContent p {
  width: 70%;
}
.createSuccessContent button {
  width: 60%;
  text-decoration: none;
}
.createSuccessImg {
  width: 40%;
  height: 100%;
}

@media (max-width: 500px) {
  /* intro */
  .introImageMobile {
    display: block !important;
  }
  .introImage {
    display: none;
  }
  .introSection {
    background-color: var(--white);
    border-radius: 0px;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .introImageMobile {
    display: none;
  }
  .introContent {
    width: 100%;
    padding: 0;
    gap: 30px;
  }

  /* feature success */
  .featuredSuccessSectionMobile {
    display: flex;
    margin-bottom: 50px;
    background-color: var(--dark);
    border-radius: 45px;
    padding: 10%;
    gap: 10%;
  }
  .featuredSuccessSection {
    display: none;
  }
  .featureSectionLeft {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: start;
  }
  .featureSectionLeft img {
    transform: rotate(45deg);
  }
  .featureSectionRight h2 {
    background-color: var(--dark);
    color: var(--green);
    text-align: start;
    margin-top: 10px;
  }
  .featureSectionRight h3,
  .featureSectionRight p {
    color: var(--white);
  }
  .featureSectionleft h3,
  .featureSectionleft p {
    color: var(--white);
  }
  .featuredItem h3,
  .featuredItem p {
    color: var(--dark);
  }
  .featureSectionRight h4 {
    color: var(--green);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .featureSectionRight {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
  }

  /* success stories */
  .successStorySection {
    margin-bottom: 50px;
  }
  .successStorySection p {
    width: 100%;
    text-align: center;
  }
  .successStoriesList {
    border: none;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    margin-top: 50px;
  }
  .successItem {
    border: 1px solid black !important;
    border-bottom-width: 5px !important;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 10% !important;
  }
  .successItem p {
    text-align: start;
  }

  /* testinmonial */
  .testinmonialsSection {
    margin-bottom: 50px;
  }
  .testinmonialsSection p {
    width: 100%;
    text-align: center;
  }

  /* create success story */
  .createSuccessStorySection {
    height: auto;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    gap: 10px;
  }
  .createSuccessContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 10px;
  }
  .createSuccessContent h3 {
    text-align: center;
  }
  .createSuccessContent p {
    width: 100%;
    text-align: center;
  }
  .createSuccessContent button {
    width: 100%;
    text-decoration: none;
  }
  .createSuccessImg {
    width: 100%;
    height: auto;
  }
}
