.serviceContainer {
  padding: 50px 7% 0 7%;
  overflow: hidden;
}

/* intro */
.serviceIntroSection {
  background-color: var(--white-smoke);
  border-radius: 45px;
  overflow: hidden;
  display: flex;
  padding: 30px;
}
.serviceIntroSectionImageMobile {
  display: none;
}
.introContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-left: 5%;
}
.backImg {
  margin: 50px;
}

/* search engine */
.serachEngineSection {
  background-color: var(--dark);
  border-radius: 45px;
  overflow: hidden;
  display: flex;
  padding: 5% 5% 5% 2%;
  gap: 5%;
}
.serachEngineSectionMobile {
  display: none;
}
.serachEngineSection .icon {
  height: 60px;
  width: 60px;
}
.serachEngineSection h2 {
  width: 210px;
  height: 110px;
  font-size: 3rem;
  font-weight: bold;
}
.serachEngineSection .content {
  width: calc(100% - 60px - 210px - 7% - 5%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.serachEngineSection p {
  color: var(--white);
}
.serachEngineSection button {
  background-color: var(--white);
  color: var(--dark);
  text-decoration: none;
}

/* how we work */
.howWeWorkSection {
  margin: 100px 0;
}
.howWeWorkSection p {
  width: 465px;
}
.seoProcessList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.processItem {
  background-color: var(--white-smoke);
  border-radius: 45px;
  display: flex;
  align-items: center;
  gap: 4%;
  padding: 3%;
}
.processItem .itemContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.processItem .itemContent p {
  width: 100%;
}

/* use cases */
.useCaseSection {
  margin-bottom: 100px;
}
.useCaseSection p {
  width: 520px;
}
.useCaseSectionList {
  margin-top: 50px;
  background-color: var(--dark);
  border-radius: 45px;
  display: flex;
  padding: 5% 0;
}
.useCaseItem {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 5%;
}
.useCaseItem:nth-child(2) {
  border: 1px solid var(--white);
  border-bottom: none;
  border-top: none;
}
.useCaseItem h3,
.useCaseItem p {
  color: var(--white);
  width: 100%;
}
.useCaseItem h4 {
  color: var(--green);
  display: flex;
  align-items: center;
}

/* other service */
.otherSerivceSection {
  margin-bottom: 100px;
}
.otherSerivceSection p {
  width: 580px;
}
.otherServiceList {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.otherServiceItem {
  width: 38%;
  background-color: var(--white-smoke);
  border-radius: 45px;
  margin-bottom: 30px;
  border-bottom: 5px solid var(--black);
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 5%;
}
.itemText {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.itemText h4 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemImg {
  padding-left: 20px;
}
.itemImgMobile {
  display: none;
}

/* start seo */
.startSeoSection {
  margin-bottom: 100px;
  border: 1px solid var(--black);
  border-radius: 45px;
  border-bottom-width: 5px;
  overflow: hidden;
  display: flex;
  padding: 5%;
}
.startSeoSectionContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 30px;
}
.startSeoSectionContent h3 {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--black);
}
.startSeoSectionContent button {
  text-decoration: none;
  background-color: var(--green);
  color: var(--black);
}
.startSeoSectionImg {
  width: 35%;
  padding-left: 5%;
}
.startSeoSectionImgMobile {
  display: none;
}

@media (max-width: 500px) {
  /* intro */
  .serviceIntroSection {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 0%;
    border-radius: 0;
  }
  .serviceIntroSectionImage {
    display: none;
  }
  .serviceIntroSectionImageMobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .introContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 5%;
  }
  .backImg {
    margin: 30px 0;
  }

  /* search engine */
  .serachEngineSection {
    display: none;
  }
  .serachEngineSectionMobile {
    display: flex;
    background-color: var(--dark);
    border-radius: 45px;
    height: auto;
    overflow: hidden;
    gap: 10%;
    padding: 10%;
  }
  .searchEngineImgContainer {
    display: flex;
    align-items: start;
  }
  .searchEngineImgContainer .icon {
    width: 30px !important;
    height: 30px !important;
  }
  .serachEngineSectionMobile .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .serachEngineSectionMobile h2:first-child {
    color: var(--green);
  }
  .serachEngineSectionMobile h2,
  .serachEngineSectionMobile p {
    color: var(--white);
  }
  .serachEngineSectionMobile button {
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    padding: 20px;
  }
  /* how we work */
  .howWeWorkSection {
    margin: 50px 0;
  }
  .howWeWorkSection p {
    width: 100%;
    text-align: center;
  }
  .seoProcessList {
    gap: 20px;
    margin-top: 30px;
  }
  .processItem {
    display: flex;
    align-items: start;
    padding: 5%;
  }
  .processItem img {
    width: auto;
    height: 40px;
  }
  .processItem .itemContent p {
    width: 100%;
    text-align: start;
  }
  /* use cases */
  .useCaseSection {
    margin-bottom: 50px;
  }
  .useCaseSectionList {
    background-color: white;
    border-radius: 0;
    justify-content: start;
    align-items: start;
    height: auto;
    width: 100%;
    padding-left: 0;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory;
    gap: 20px;
  }
  .useCaseItem {
    background-color: var(--dark);
    flex: 0 0 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start; /* Snap items into view */
    box-sizing: border-box;
    padding: 10%;
    border-radius: 45px;
  }

  .useCaseItem h3,
  .useCaseItem p {
    color: var(--white);
    width: 100%;
    text-align: start;
  }

  /* other service */
  .otherSerivceSection {
    margin-bottom: 50px;
  }
  .otherSerivceSection p {
    width: 100%;
    text-align: center;
  }
  .otherServiceList {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
  }
  .otherServiceItem {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
    padding: 10%;
  }
  .itemText {
    width: 100%;
    gap: 20px;
    justify-content: center;
  }
  .itemText h3 {
    background-color: var(--white);
    border-radius: 7px;
    padding: 3px;
  }
  .itemText h4 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .itemImg {
    display: none;
  }
  .itemImgMobile {
    display: block;
  }
  /* start seo */
  .startSeoSection {
    margin-bottom: 50px;
    padding: 10%;
  }
  .startSeoSectionContent {
    width: 100%;
    gap: 20px;
  }
  .startSeoSectionContent h3 {
    padding-bottom: 20px;
  }
  .startSeoSectionContent button {
    text-decoration: none;
    background-color: var(--green);
    color: var(--black);
  }
  .startSeoSectionImg {
    display: none;
  }
  .startSeoSectionImgMobile {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 400px) {
  .serachEngineSectionMobile button {
    padding: 10px;
  }
  .processItem {
    display: flex;
    align-items: start;
    padding: 10%;
  }
}
